#primair, #luxe {
    display: none;
}
#gaming {
    display: block;
}
* {
    background-color: black;
    color: white;
}
nav, nav a, nav ul, nav li {
    background-color: dimgray;
}

#image {
    background-image: url(../afbeeldingen/medium.jpg)
}
h1, h2 {
    font-family: 'Gamja Flower', cursive;
}