#primair, #gaming {
    display: none;
}
#luxe {
    display: block;
}
* {
    background-color: white;
    color: black;
}
nav {
    background-color: gray;
}

#image {
    background-image: url(../afbeeldingen/groot.jpg)
}

h1, h2 {
    font-family: 'Gamja Flower', cursive;
}